build
.project
.cproject
.settings

# Created by https://www.gitignore.io/api/cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
.ycm_extra_conf.py
CPackSourceConfig.cmake
test_detail.xml

gtest_cppmetrics
libcppmetrics.a
libcppmetricsshared.dylib

# End of https://www.gitignore.io/api/cmake
